[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
neptune = "*"
matplotlib = "*"
scikit-learn = "*"
neptune-tensorflow-keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
